[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository for Terminal Configurations and Tool Downloads
[access "refs/*"]
	owner = group user/lizziemac
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lizziemac
	label-Verified = -1..+1 group user/lizziemac
	push = group user/lizziemac
	read = group user/lizziemac
	rebase = group user/lizziemac
	removeReviewer = group user/lizziemac
	submit = group user/lizziemac
[access "refs/heads/*"]
	create = group user/lizziemac
	push = +force group user/lizziemac
	pushMerge = group user/lizziemac
	read = group user/lizziemac
[access "refs/tags/*"]
	push = group user/lizziemac
	push = +force group user/lizziemac
